.container {
  height: 200vh;
  border: 10px soldi green;
}

.images {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 15vh;

  border: 10px solid orange;

  .imageContainer {
    position: absolute;

    background-origin: 10px solid green;

    .image {
      object-fit: cover;

      width: 100%;
      height: 100%;
    }

    &:nth-of-type(1) {
      left: 26.4vw;

      height: 60vh;
      width: 50vh;

      z-index: 1;
    }

    &:nth-of-type(2) {
      left: 53vw;
      top: 35.4vh;

      height: 40vh;
      width: 30vh;

      z-index: 2;
    }

    &:nth-of-type(3) {
      left: 53vw;
      top: 69.5vh;

      height: 19.2vh;
      width: 30vh;

      z-index: 3;
    }
  }
}
