.container {
  height: 100vh;
  width: 99vw;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50rem;
  margin-bottom: 50rem;

  position: relative;
}

.framerMotion {
  width: 50%;
  min-width: 800px;
  height: 70%;
  min-height: 600px;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  gap: 0.5rem;

  .imageContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
      justify-self: end;
      width: 80%;
      height: 100%;
    }

    &:nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
      width: 60%;
      align-self: end;

      z-index: 3;
    }

    &:nth-of-type(3) {
      grid-column: 2;
      grid-row: 2;
      width: 60%;
      align-self: start;

      z-index: 2;
    }
  }
}

.textsContainer {
  transition: opacity 0.6s ease-in;
  pointer-events: none;
  width: 100%;
  height: 100%;

  position: fixed;

  left: 0;
  top: 0;
  display: flex;

  z-index: 5;

  .subText {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    .textContainer {
      margin-bottom: 21vh;

      p {
        font-size: 12px;
        font-variation-settings: "wght" 150;
      }
    }
  }

  .leftContainer {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    .bioContainer {
      width: 40%;

      text-align: end;

      .title {
        font-variation-settings: "wght" 650;
        font-size: 14px;
      }

      .bio {
        font-variation-settings: "wght" 250;
        font-size: 12px;
      }
    }
  }

  .rightContainer {
    width: 50%;

    .collectionContainer {
      height: 100%;

      display: flex;

      justify-content: center;

      .title {
        font-size: 60px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .textsContainer {
    height: 100vh;
    .subText {
      .textContainer {
        @media screen and (min-height: 700px) {
          width: 36.25%;
          min-width: 590px;

          margin-left: -40px;
          margin-bottom: 10vh;
        }

        @media screen and (max-height: 700px) {
          margin-left: -1070px;
          margin-top: -55vw;

          width: 15%;
          text-align: end;
        }
      }
    }

    .leftContainer {
      .bioContainer {
        margin-top: -120px;
        margin-right: 210px;
      }
    }

    .rightContainer {
      .collectionContainer {
        .title {
          margin-top: 110px;
          margin-left: -200px;
        }
      }
    }
  }
}

@media screen and ((min-width: 1536px) and (max-width: 1919px)) {
  .framerMotion {
    .imageContainer {
      .image {
      }
      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
      }

      &:nth-of-type(3) {
      }
    }
  }

  .textsContainer {
    background-color: rgba(0, 128, 0, 0.073);

    width: 1200px;
    min-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    .subText {
      .textContainer {
        width: 36vw;

        background-color: orange;

        margin-left: -40px;
        margin-bottom: 18vh;
      }
    }

    .leftContainer {
      .bioContainer {
      }
    }

    .rightContainer {
      margin-left: 12vw;
      .collectionContainer {
        .title {
        }
      }
    }
  }
}

@media screen and ((max-width: 1535px) and (min-width: 700px)) {
  .framerMotion {
    .imageContainer {
      .image {
      }
      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
      }

      &:nth-of-type(3) {
      }
    }
  }

  .textsContainer {
    .subText {
      .textContainer {
      }
    }

    .leftContainer {
      .bioContainer {
      }
    }

    .rightContainer {
      .collectionContainer {
        .title {
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .framerMotion {
    width: 80%;
    min-width: 400px;
    height: 50%;
    .imageContainer {
      .image {
      }
      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
      }

      &:nth-of-type(3) {
      }
    }
  }

  .textsContainer {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
