.container {
  height: 100vh;
  width: 99vw;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50rem;
  margin-bottom: 50rem;

  .images {
    width: 50%;
    height: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
    gap: 0.5rem;

    overflow: hidden;

    .imageContainer {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      &:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
        justify-self: end;
        width: 80%;
        height: 100%;
      }

      &:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
        width: 60%;
        align-self: end;

        z-index: 3;
      }

      &:nth-of-type(3) {
        grid-column: 2;
        grid-row: 2;
        width: 60%;
        align-self: start;

        z-index: 2;
      }
    }
  }
}
