.container {
  height: 100vh;
  display: flex;
  justify-content: center;

  .images {
    width: 100%;
    max-width: 1440px;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 15vh;

    border: 10px solid green;

    .imageContainer {
      position: absolute;
      flex-shrink: 0;

      .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &:nth-of-type(1) {
        height: 60vh;
        width: 50vh;

        left: 30%;
      }

      &:nth-of-type(2) {
        height: 40vh;
        width: 30vh;

        right: 17%;
        top: 33.3%;
      }

      &:nth-of-type(3) {
        height: 19.3vh;
        width: 30vh;

        right: 17%;
        top: 69.2%;
      }
    }
  }
}
