.container {
  height: 100vh;
  width: 99vw;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50rem;
  margin-bottom: 50rem;

  border: 1px solid black;

  position: relative;
}

.framerMotion {
  border: 1px solid green;
  width: 50%;
  min-width: 800px;
  height: 70%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 40%;
  gap: 0.5rem;

  .imageContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
      justify-self: end;
      width: 80%;
      height: 100%;
    }

    &:nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
      width: 60%;
      align-self: end;

      z-index: 3;
    }

    &:nth-of-type(3) {
      grid-column: 2;
      grid-row: 2;
      width: 60%;
      align-self: start;

      z-index: 2;
    }
  }
}

.textsContainer {
  width: 100%;
  height: 100%;

  position: absolute;

  display: flex;

  .leftContainer {
    width: 50%;
    background-color: green;
  }

  .rightContainer {
    width: 50%;
    background-color: orange;

    .collectionContainer {
      height: 100%;

      background-color: blue;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        background-color: red;

        font-size: 60px;

        margin-top: -250px;
        margin-left: -50px;
      }
    }
  }
}
